@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;

<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisines have been added yet!</h3>
} 

<ul>
  @foreach(Cuisine cuisine in Model)
  {
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new cuisine", "Create")</p>
<p>@Html.ActionLink("Add new Restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>