@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new Restaurant</h4>

<p><strong>NOTE:</strong> You need to have at least one cuisine before you can add an restaurant!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Cuisines") to create a cuisine.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>